/*---------------------
Stylesheet für Ennos 'My Wordpress Theme'.
Übung im Rahmen des Kurses Software Entwickler: WordPress
Autor: Enno Hyttrek
Version: s.1.0.1.1, 190829, 14:30
---------------------*/

/*---------------------
Imports
---------------------*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i&display=swap');

@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');


/*---------------------
Reset
---------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul {
    list-style-type: none;
}

body {
    font-family: 'Source Sans Pro', 'Helvetica', Arial, sans-serif;
}

a {
    text-decoration: none; /*(added 1.0.1.1 Ehy)*/
}

nav#main-nav ul {
    display: none;
}

/*---------------------
Layout
---------------------*/

.flex-container {
  display: block;
}

.burger-wrapper,
h1,h2,
p,ul {   
    padding: 1em 20px;
}


/*---------------------
Navigation (chapter added 1.0.1.1 Ehy) 
---------------------*/

nav#main-nav {
    
}

nav#main-nav ul {
    
}

nav#main-nav ul li {
    display: inline-block;
    background-color:  rgb(40,50,60);
    border-radius: 5px;
}

nav#main-nav ul li:hover {
    background-color:  rgb(255,128,0);
}

nav#main-nav ul li a {
    color: rgba(255,255,255,0.8);
    padding: 6px 6px 10px 6px;
}

nav#main-nav ul li a:hover {
    color: #fff;
}

/*---------------------
Color & Style
---------------------*/

body {
    background-color: rgb(40,50,60);
    color: #fff;
}

header {
    background-color: rgb(140,150,160); 
    color: rgb(140,0,20); 
}

#header {
    background-image: url(img/golden-4387704_1280.jpg);
    background-size: cover;
    background-position: center;
}

main {
    background-color: #fff; 
    color: rgb(40,50,60); 
}

.home,.profil,.kontakt {
    color: rgba(255,255,255,0.8);
}

.home {
    background-color: rgb(140,0,20);    
}

.profil {
    background-color: rgb(0,70,120);    
}

.kontakt {
    background-color: rgb(0,100,70);    
}

aside {
    background-color: rgba(255,255,255,0.3);    
}

/*---------------------
Typography (chapter added 1.0.1.1 Ehy) 
---------------------*/

p {
 font-weight: 300;   
}


.burger-wrapper {
    font-size: 2em;
}


/*---------------------
Responsive Design -- Mobile First
---------------------*/

@media only screen and (min-width: 600px) {
/**--------
Breakpoint 600px Layout
--------**/

.section-aside-wrapper,    
.flex-container {
  display: flex;
}   
    
.flex-container {
flex-wrap: wrap;    /*(added 1.0.1.1 Ehy)*/
}   
    
    .article-content {
        width: 70%;
    }    
    
    .article-sidebar {
        width: 30%;
    }
    
.article-content p {
    width: 50%; /*(changed 1.0.1.1 Ehy)*/
} 
    
nav#main-nav ul {
    display: block;
}
    
    .burger-wrapper {
        display: none;
    }    
    
    
    
        
}



@media only screen and (min-width: 1024px){ /*(added 1.0.1.1 Ehy)*/
 /**--------
Breakpoint 1024px Layout
--------**/

.article-content p {
    width: 30%;
}      
    
    
}


@media only screen and (min-width: 1440px){ /*(added 1.0.1.1 Ehy)*/
 /**--------
Breakpoint 1440px Layout
--------**/
    
    .article-content {
        width: 80%;
    }    
    
    .article-sidebar {
        width: 20%;
    }    

.article-content p {
    width: 25%;
}      
    
    
}