/*
Stylesheet for a little HTML table exercise.
How to style HTML tables with CSS.
© 2019, Enno Hyttrek
*/

        

/*Style the table*/
table {
        text-align: left;
        border-collapse: collapse;
        width: 500px;
        margin: 30px 0 0 20px;
    }

/*
Different style for tables on the web coding resources page.
Made use of a class in the body tag of that page
*/
.web-coding-resources table {
        text-align: left;
        border-collapse: collapse;
        width: 95%;
        margin: 30px 0 0 20px;
    }

    
    table,th,td {
        border: 1px solid #fff;
    } 



    th,td {
        padding: 10px;
        width: 30%;
    }

/*Alternating row colors, using classes*/

    .tr-odd {
        background-color: rgb(210,220,230);
    }
    
    .tr-odd:hover {
        background-color: rgb(220,230,240);
    }

    .tr-even {
        background-color: rgb(220,230,210);
    }

    .tr-even:hover {
        background-color: rgb(230,240,220);
    }

/*
Alternating row colors, the smarter way. 
Uncomment lines 57 through 67 to see.
If you like, make nicer colors using rgb()
*/

/*
tr:nth-child(odd) {
    background-color: red;
}

tr:nth-child(even) {
    background-color: green;
}

th {
    background-color: blue;
}
*/

/*
And also: a smarter way than using classes for detecting the second column
*/
td:nth-child(2),
th:nth-child(2) {
    font-style: oblique;
    text-align: right; 
}

.web-coding-resources td:nth-child(2),
.web-coding-resources th:nth-child(2) {
    text-align: left; 
}





