/*---------------------
Typography
---------------------*/

h1,h2,h3,h4,h5,h6,
p {
    font-family: 'Source Sans Pro', 'Helvetica', Arial, sans-serif;    
}



h1,h2,h3,h4,h5,h6, {
    font-weight: 600;    
}

p {
    font-weight: 300;
}

article h3,
h4 {
    text-transform: uppercase;
}
.further-reading,
.copyright {
    font-size: 0.8em;
}