@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

@import url('https://fonts.googleapis.com/css?family=Ropa+Sans:400,400i&display=swap&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');


body {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: black;
}

section {
    background-color: azure;
}
h1 {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}
p {
    font-family: 'Ropa Sans', sans-serif;
}
span {
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Ropa Sans', sans-serif;
}

.text {
    font-family: 'Permanent Marker', cursive;
}