/*
Stylesheet for the 'My First Website' exercise project.
Version 1.0.0.0, 
*/

        
            header {  
                color: #fff;    
                background-color: rgb(150,0,170);
                padding: 5px;
            } 
            
/*------------------------------------------
Navigation
------------------------------------------*/
  
            #main-nav {
                
            }
            
            #main-nav ul {
               list-style-type: none; 
                padding: 0;
            }
            
            #main-nav ul li {
                display: inline-block;
                margin-right: 10px;
                background-color: rgb(50,60,70); 
                padding: 2px 8px;                
            }  
            
            #main-nav ul li:hover {
                 background-color: #fff;   

            }            
            
            #main-nav ul li a {
               color: #fff;   
                text-decoration: none;
            }     
            
            #main-nav ul li a:hover {
               color: rgb(255,128,0);              
            } 

            #main-nav ul li.current-item,
            #main-nav ul li.current-item a {
                 background-color: #fff; 
                color: rgb(255,128,0);                 
            }

/*------------------------------------------
Color
------------------------------------------*/

.section-wrapper {
    background-color: rgb(190,200,210);
}

article {
    background-color: rgb(220,240,250);
}


/*------------------------------------------
Typography
------------------------------------------*/

/*------------------------------------------
Layout
------------------------------------------*/
header {
                    background-image: url(../img/panda-4421395_1280.jpg);
                background-size: cover;
}


.first-paragraph img {
    width: 50%;
}


.flex-container {
    display: flex;
}

/*------------------------------------------
Mobile Responsive Design
------------------------------------------*/
