/*
External stylesheet for my final project concept development.
*/

/*   
Reset       
*/       
       
       * {
           margin: 0;
           padding: 0;
           box-sizing: border-box;
           scroll-behavior: smooth;
       }

a {
    text-decoration: none;
}


.my-label {
    display: none;
    font-family: Arial;
    color: rgb(255,0,0);
}
       
/*   
Color & Style      
*/ 
       
        div,
        header,
        footer {
           color: #fff;
           background-color: rgb(170,180,190);
           outline: 1px solid #000;

       }
       
       
        .level2 {
           background-color: rgb(130,140,150);   
       }
       
        .flex-box {
           outline: none;
       }
       
/*   
Navigation       
*/

nav {
    background-color: rgb(0,128,200);
}

nav ul {
    list-style-type: none;
}

nav#main-navigation {
    position: fixed;
    padding: 5px 0;
}

nav#main-navigation ul {
    display: flex;
}

nav#main-navigation ul li {

    margin-right: 3px;
}

nav#main-navigation ul li a {
    color: #fff;
    background-color: rgb(200,108,0);
    padding: 3px 5px;
}

nav#main-navigation ul li a:hover {
    background-color: rgb(255,128,0);    
}
       
/*   
Layout       
*/       
       div {
           padding: 5px;
       }
       
       .flex-box {
            display: flex;         
       }
       
       .level1 {
           margin: 0 0 2vw 0;
       }
       
       .level2 {
           height: 5vw;
           width: 33.3%
       }
       
       
       h1,h2,h3,h4,h5,h6,p {
           display: block;
           width: 100%;
       }

section {
    padding-top: 20vh;
    height: 80vh;
}

/**
Layout-Header
**/

header {
    height: 25vh;
}

/**
Layout-Content
**/

main {

}

/**
Layout-Footer
**/

footer {
    height: 15vh;
}
       
/*   
Typography       
*/   
       
/**
Typography - Fonts       
**/
